body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1221px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:96px;
  background:inherit;
  background-color:rgba(55, 194, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:51px;
  width:718px;
  height:96px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:50px;
  background:inherit;
  background-color:rgba(55, 194, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:50px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:48px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:48px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1280px;
  width:720px;
  height:96px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1299px;
  width:32px;
  height:32px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:1315px;
  width:32px;
  height:32px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1315px;
  width:32px;
  height:32px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:50px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1306px;
  width:54px;
  height:50px;
  color:#000000;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1305px;
  width:52px;
  height:52px;
  color:#000000;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:1303px;
  width:48px;
  height:50px;
  color:#000000;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1296px;
  width:64px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u753 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:1296px;
  width:64px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u754 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:1296px;
  width:64px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1293px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  word-wrap:break-word;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:82px;
  width:41px;
  height:38px;
  text-decoration:underline;
  color:#000000;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:334px;
  background:inherit;
  background-color:rgba(55, 194, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:146px;
  width:718px;
  height:334px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#FFFFFF;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:184px;
  width:97px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:183px;
  width:120px;
  height:120px;
  color:#666666;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:267px;
  width:181px;
  height:36px;
  font-size:30px;
  color:#FFFFFF;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:267px;
  width:32px;
  height:32px;
  color:#666666;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:354px;
  width:41px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:396px;
  width:41px;
  height:24px;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:354px;
  width:61px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:396px;
  width:61px;
  height:24px;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:354px;
  width:41px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:396px;
  width:81px;
  height:24px;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:354px;
  width:21px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:396px;
  width:61px;
  height:24px;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:633px;
  width:718px;
  height:480px;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:96px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:96px;
  font-size:28px;
  text-align:left;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:32px;
  width:243px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:96px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:0px;
  width:363px;
  height:96px;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:34px;
  width:284px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:96px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:355px;
  height:96px;
  font-size:28px;
  text-align:left;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:32px;
  width:243px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:96px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:96px;
  width:363px;
  height:96px;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:34px;
  width:284px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:96px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:355px;
  height:96px;
  font-size:28px;
  text-align:left;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:32px;
  width:243px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:96px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:192px;
  width:363px;
  height:96px;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:96px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:355px;
  height:96px;
  font-size:28px;
  text-align:left;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:32px;
  width:243px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:96px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:288px;
  width:363px;
  height:96px;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:96px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:384px;
  width:355px;
  height:96px;
  font-size:28px;
  text-align:left;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:32px;
  width:243px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:96px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:384px;
  width:363px;
  height:96px;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:669px;
  width:14px;
  height:24px;
  color:#AAAAAA;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:764px;
  width:14px;
  height:24px;
  color:#AAAAAA;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:854px;
  width:14px;
  height:24px;
  color:#AAAAAA;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:955px;
  width:14px;
  height:24px;
  color:#AAAAAA;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:1048px;
  width:14px;
  height:24px;
  color:#AAAAAA;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:1051px;
  width:32px;
  height:32px;
  color:#000000;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:18px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1058px;
  width:3px;
  height:18px;
  color:#000000;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:966px;
  width:15px;
  height:12px;
  color:#000000;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:954px;
  width:27px;
  height:32px;
  color:#000000;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:867px;
  width:31px;
  height:19px;
  color:#000000;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:871px;
  width:11px;
  height:11px;
  color:#000000;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:857px;
  width:35px;
  height:32px;
  color:#000000;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:669px;
  width:32px;
  height:28px;
  color:#000000;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:764px;
  width:32px;
  height:32px;
  color:#000000;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
  text-align:center;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:1138px;
  width:649px;
  height:24px;
  font-size:20px;
  color:#AAAAAA;
  text-align:center;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  word-wrap:break-word;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:86px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:511px;
  width:638px;
  height:86px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#9D7054;
  line-height:24px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:542px;
  width:213px;
  height:24px;
  font-size:22px;
  color:#9D7054;
  line-height:24px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:-webkit-linear-gradient(315deg, rgba(221, 179, 152, 1) 0%, rgba(221, 179, 152, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(221, 179, 152, 1) 0%, rgba(221, 179, 152, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(135deg, rgba(221, 179, 152, 1) 0%, rgba(221, 179, 152, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:534px;
  width:125px;
  height:40px;
  font-size:28px;
  text-align:left;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#9D7054;
  text-align:right;
  line-height:24px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:542px;
  width:67px;
  height:24px;
  font-size:22px;
  color:#9D7054;
  text-align:right;
  line-height:24px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:730px;
  width:678px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:633px;
  width:422px;
  height:150px;
  font-size:20px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:402px;
  word-wrap:break-word;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:338px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u812 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:338px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u813 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:338px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u814 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:338px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
