body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1406px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1406px;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:695px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:51px;
  width:718px;
  height:96px;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:50px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:14px;
  width:36px;
  height:20px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:15px;
  width:28px;
  height:20px;
  color:#FFFFFF;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:16px;
  width:41px;
  height:16px;
  font-size:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:41px;
  white-space:nowrap;
}
#u2763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:19px;
  width:60px;
  height:16px;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:60px;
  white-space:nowrap;
}
#u2765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:18px;
  width:69px;
  height:16px;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:69px;
  white-space:nowrap;
}
#u2767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:14px;
  width:28px;
  height:24px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:14px;
  width:13px;
  height:24px;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:15px;
  width:31px;
  height:22px;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:12px;
  width:28px;
  height:24px;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:49px;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:49px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:32px;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:82px;
  width:20px;
  height:32px;
  text-decoration:underline;
  color:#000000;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:79px;
  width:217px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u2781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1201px;
  width:718px;
  height:33px;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  word-wrap:break-word;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:288px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:147px;
  width:718px;
  height:288px;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:387px;
  width:688px;
  height:48px;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:684px;
  word-wrap:break-word;
}
#u2789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:325px;
  width:48px;
  height:48px;
  color:#666666;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:337px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
  text-align:right;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:337px;
  width:173px;
  height:24px;
  font-size:20px;
  color:#AAAAAA;
  text-align:right;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:163px;
  width:141px;
  height:38px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#12ADA9;
  text-align:right;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:165px;
  width:146px;
  height:33px;
  font-size:28px;
  color:#12ADA9;
  text-align:right;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:264px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u2802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:264px;
  width:105px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u2804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:264px;
  width:103px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u2806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:264px;
  width:107px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u2808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:264px;
  width:94px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u2810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:264px;
  width:80px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:216px;
  width:121px;
  height:28px;
  font-size:24px;
  color:#666666;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:147px;
  width:718px;
  height:288px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:288px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:451px;
  width:718px;
  height:288px;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:691px;
  width:688px;
  height:48px;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:684px;
  word-wrap:break-word;
}
#u2820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:629px;
  width:48px;
  height:48px;
  color:#666666;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:641px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
  text-align:right;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:641px;
  width:173px;
  height:24px;
  font-size:20px;
  color:#AAAAAA;
  text-align:right;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:467px;
  width:141px;
  height:38px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#12ADA9;
  text-align:right;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:469px;
  width:146px;
  height:33px;
  font-size:28px;
  color:#12ADA9;
  text-align:right;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:568px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u2833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:568px;
  width:105px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u2835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:568px;
  width:103px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u2837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:568px;
  width:107px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u2839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:568px;
  width:94px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u2841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:568px;
  width:80px;
  height:36px;
  font-size:20px;
  color:#666666;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:520px;
  width:121px;
  height:28px;
  font-size:24px;
  color:#666666;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:451px;
  width:718px;
  height:288px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:288px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:755px;
  width:718px;
  height:288px;
  color:#AAAAAA;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:995px;
  width:688px;
  height:48px;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:684px;
  word-wrap:break-word;
}
#u2851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:933px;
  width:48px;
  height:48px;
  color:#AAAAAA;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:945px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#AAAAAA;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
  text-align:right;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:945px;
  width:173px;
  height:24px;
  font-size:20px;
  color:#AAAAAA;
  text-align:right;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#AAAAAA;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:771px;
  width:176px;
  height:38px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#AAAAAA;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u2859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#AAAAAA;
  text-align:right;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:773px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#AAAAAA;
  text-align:right;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:872px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u2864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:872px;
  width:105px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u2866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:872px;
  width:103px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u2868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:872px;
  width:107px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u2870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:872px;
  width:94px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u2872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:872px;
  width:80px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AAAAAA;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:824px;
  width:145px;
  height:28px;
  font-size:24px;
  color:#AAAAAA;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:755px;
  width:718px;
  height:288px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:288px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1059px;
  width:718px;
  height:288px;
  color:#AAAAAA;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1237px;
  width:48px;
  height:48px;
  color:#AAAAAA;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1249px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#AAAAAA;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
  text-align:right;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1249px;
  width:173px;
  height:24px;
  font-size:20px;
  color:#AAAAAA;
  text-align:right;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#AAAAAA;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1075px;
  width:316px;
  height:38px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#AAAAAA;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u2888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#AAAAAA;
  text-align:right;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1077px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#AAAAAA;
  text-align:right;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1176px;
  width:64px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u2893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1176px;
  width:105px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u2895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1176px;
  width:103px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u2897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1176px;
  width:107px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u2899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1176px;
  width:94px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u2901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AAAAAA;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1176px;
  width:80px;
  height:36px;
  font-size:20px;
  color:#AAAAAA;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AAAAAA;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1128px;
  width:121px;
  height:28px;
  font-size:24px;
  color:#AAAAAA;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1299px;
  width:688px;
  height:48px;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:684px;
  word-wrap:break-word;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1059px;
  width:718px;
  height:288px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1370px;
  width:690px;
  height:16px;
  text-align:center;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  word-wrap:break-word;
}
