body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:51px;
  width:718px;
  height:96px;
}
#u2651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:50px;
}
#u2653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:14px;
  width:36px;
  height:20px;
}
#u2654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:15px;
  width:28px;
  height:20px;
  color:#FFFFFF;
}
#u2655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:16px;
  width:41px;
  height:16px;
  font-size:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:41px;
  white-space:nowrap;
}
#u2657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:19px;
  width:60px;
  height:16px;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:60px;
  white-space:nowrap;
}
#u2658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:18px;
  width:69px;
  height:16px;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:69px;
  white-space:nowrap;
}
#u2659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:14px;
  width:28px;
  height:24px;
}
#u2659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:14px;
  width:13px;
  height:24px;
}
#u2660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:15px;
  width:31px;
  height:22px;
}
#u2661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:12px;
  width:28px;
  height:24px;
}
#u2662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:68px;
  background:inherit;
  background-color:rgba(239, 189, 58, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1198px;
  width:660px;
  height:68px;
  font-size:28px;
  color:#FFFFFF;
}
#u2663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:656px;
  word-wrap:break-word;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:147px;
  width:718px;
  height:114px;
  font-size:36px;
}
#u2666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#AAAAAA;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:214px;
  width:391px;
  height:23px;
  font-size:18px;
  color:#AAAAAA;
}
#u2667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u2668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:175px;
  width:391px;
  height:23px;
  font-size:24px;
}
#u2668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:391px;
  word-wrap:break-word;
}
#u2669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 182, 81, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 182, 81, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#EBB651;
  line-height:20px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:175px;
  width:51px;
  height:22px;
  font-size:14px;
  color:#EBB651;
  line-height:20px;
}
#u2669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:47px;
  word-wrap:break-word;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:175px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#0099FF;
  line-height:20px;
}
#u2670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:48px;
  word-wrap:break-word;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:190px;
  width:28px;
  height:28px;
}
#u2671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:51px;
  width:718px;
  height:96px;
  font-size:36px;
}
#u2672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:714px;
  word-wrap:break-word;
}
#u2673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:32px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:82px;
  width:20px;
  height:32px;
  text-decoration:underline;
  color:#000000;
}
#u2673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
