body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1634px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1634px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:809px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:51px;
  width:718px;
  height:96px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:50px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:49px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:49px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:32px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:82px;
  width:20px;
  height:32px;
  text-decoration:underline;
  color:#000000;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:79px;
  width:217px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:175px;
  width:97px;
  height:57px;
  font-size:48px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:168px;
  width:120px;
  height:120px;
  color:#666666;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:242px;
  width:235px;
  height:33px;
  font-size:28px;
  color:#666666;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:2px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:316px;
  width:654px;
  height:1px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:185px;
  width:32px;
  height:32px;
  color:#666666;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:2px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:146px;
  width:718px;
  height:1px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
  line-height:36px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:720px;
  width:654px;
  height:36px;
  font-size:24px;
  color:#666666;
  line-height:36px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:2px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:804px;
  width:654px;
  height:1px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:598px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:678px;
  width:165px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
  line-height:42px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1033px;
  width:654px;
  height:126px;
  font-size:28px;
  color:#666666;
  line-height:42px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:2px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1184px;
  width:654px;
  height:1px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:839px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:915px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:920px;
  width:143px;
  height:28px;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:979px;
  width:161px;
  height:36px;
  font-size:30px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
  line-height:42px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1339px;
  width:654px;
  height:126px;
  font-size:28px;
  color:#666666;
  line-height:42px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:2px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1491px;
  width:654px;
  height:1px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1221px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1226px;
  width:197px;
  height:28px;
  font-size:24px;
  color:#AAAAAA;
  text-align:right;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1285px;
  width:161px;
  height:36px;
  font-size:30px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:82px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#666666;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
  line-height:36px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:438px;
  width:654px;
  height:72px;
  font-size:28px;
  color:#666666;
  line-height:36px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  word-wrap:break-word;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:2px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:558px;
  width:654px;
  height:1px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:352px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:361px;
  width:32px;
  height:32px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:920px;
  width:14px;
  height:24px;
  color:#AAAAAA;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:1226px;
  width:14px;
  height:24px;
  color:#AAAAAA;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:687px;
  width:14px;
  height:24px;
  color:#AAAAAA;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
