body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:51px;
  width:718px;
  height:96px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:50px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:14px;
  width:36px;
  height:20px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:15px;
  width:28px;
  height:20px;
  color:#FFFFFF;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:16px;
  width:41px;
  height:16px;
  font-size:20px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:41px;
  white-space:nowrap;
}
#u2151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:19px;
  width:60px;
  height:16px;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:60px;
  white-space:nowrap;
}
#u2153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:18px;
  width:69px;
  height:16px;
  font-size:24px;
  color:#000000;
  text-align:right;
  line-height:20px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:69px;
  white-space:nowrap;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:14px;
  width:28px;
  height:24px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:14px;
  width:13px;
  height:24px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:15px;
  width:31px;
  height:22px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:12px;
  width:28px;
  height:24px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:49px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:718px;
  height:49px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#000000;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:192px;
  width:145px;
  height:36px;
  font-size:36px;
  color:#000000;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:64px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AAAAAA;
  text-align:left;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:262px;
  width:663px;
  height:64px;
  font-size:24px;
  color:#AAAAAA;
  text-align:left;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:18px;
  width:599px;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:280px;
  width:28px;
  height:28px;
  text-decoration:underline;
  color:#000000;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:370px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:433px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:536px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:599px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:599px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:599px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:672px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:672px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:672px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:747px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:747px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:747px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:827px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:827px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:933px;
  width:20px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:996px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:996px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:996px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1069px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1069px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1069px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1144px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1144px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1144px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1224px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1224px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:1224px;
  width:198px;
  height:50px;
  font-size:24px;
  color:#666666;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:84px;
  width:32px;
  height:32px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
